LOCAL_DB_SERVER=.
LOCAL_DB_INSTANCE=MSSQLSERVER
LOCAL_DB_PORT=1433
LOCAL_DB_NAME=APCRAS
LOCAL_DB_USER=sa
LOCAL_DB_PASSWORD=123
LOCAL_DB_CONNECTION_STRING=
CLOUD_DB_CONNECTION_STRING=
DB_ODBC_DRIVER=ODBC Driver 18 for SQL Server

